*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { 
    background-color: #baccdc;
}

/* general container */

.container {
    position: relative;
    display: grid;
    gap: 10px;
    margin: auto;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-template-areas: 
        ". . . . ."
        "textInput textInput textInput message message"
        "textInput textInput textInput message message"
        "textInput textInput textInput message message"
        "textInput textInput textInput message message"
        "textInput textInput textInput message message"
        "textInput textInput textInput message message"
        "ebutton ebutton ebutton message message"
        "ebutton ebutton ebutton message message"
        "footer footer footer footer footer"
        "footer footer footer footer footer"
    ;
}

/* text input & buttons  */

.textInput {
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 270px;
    grid-area: textInput;
    display: flex;
    flex-wrap: wrap;
}

.textInput>p {
    text-align: center;
    width: 70%;
    display: inline-block;
    margin: auto;
}


a>img{
    width: 100px;
    height: 20px;
}

a>img:active{
    scale: 1.1;
    cursor: pointer;
   
}


#input {
    text-align: center;
    border: none;
    outline: none;
    resize: none;
    height: 70%;
    width: 70%;
    margin: auto;
    padding-top: 20px;
}

.ebuttons {
    height: 60%;
    width: 70%;
    text-align: center;
    justify-content: space-evenly;
    margin: auto;
    display: flex;
    grid-area: ebutton;

}

/* styling buttons  */

.ebuttons>button {
    width: 35vh;
    border-radius: 20px;
    border: 1px solid black;
}


/* encrypted message section  */

.message {
    width: 77%;
    height: 110%;
    background-color: white;
    padding: 10px;
    grid-area: message;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 35px;
    border-radius: 65px;
    box-shadow: 3px 3px rgb(0 0 0 / 15%);
}


#msg {
    
    text-align: center;
    height: 75%;
    width: 60%;
    border: none;
    outline: none;
    resize: none;
    
}

img {
    width: 150px;
    position: absolute;
}

.copyBtn {
    width: 25%;
}


/* ANIMATIONS */
.ebuttons>button:hover, .copyBtn:hover, a>img:hover{
    transform: scale(1.2);
    transition: .5s;
    cursor: pointer;
}

/* footer */

.footer { 
    display: flex;
    grid-area: footer;
}